html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    /* background-image: url(../images/download1.jpg); */
    background: url("../images/background.png") fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#title h1 {
    line-height: unset;
    margin: 8px 0;
    height: 70px;
    width: 100%;
    background-color: #ffc14f;
    border-radius: 15px;
    text-align: center;
    color : white;
}

#select1, #select2{
    height: 150px;
    width: 30%;
    text-align: center;
    background-color: #ffc14f;
    border-radius: 15px;
    margin-left: 30%;
    margin-top: 30px;
    border-color: gold;
}



@media only screen and (max-width: 767px) and (orientation: landscape) {
    #title{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    /* For tablets: */
    #title {
        margin-top: 15%;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    /* For tablets in landscape: */
    #title {
        margin-top: 5%;
    }
}
  
  @media only screen and (min-width: 1025px) {
    /* For desktop: */
  }