
/* background body */
body { 
    background-image: url(../images/h3.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
     background-color: rgb(245, 221, 87); 
    height: auto;
}
.jumbotron {
    float: center;
    width: 100%;
    height: 50px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    color: lightskyblue;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }
  


h1{
    text-align: center;
    color:blue;
    margin-bottom :3rem;
}

   


h5{
    text-align: center;
    color:blue;

}
.nav-link{
    color: gold;
}
h4{
    color: gold;
}


    /*Room position  */
 .Room-image {
    width: 100%;
    
} 

h3 { 
    
    padding-bottom: 20px; 
    margin-bottom: 15px; 
    line-height: 22px; 
    border-bottom: 2px solid #eee; 
    font-size: 22px;
    font-family: Georgia, Times, "Times New Roman", serif; 
    font-weight: 700; 
    color: white; 
    text-align: center;
    background-color: #1b1da1;
    padding: 20px;
    width: 333px;
    height: 60px;

  }

  .container {
    /* Box-model */
    width: 980px;
  
    /* Positioning */
    margin: 40px auto;
    width: auto; 
    padding: 10px; 
   
  }
  
  #main-content,
   {
    /* Box-model */
    width: 500px;
    padding: 30px;
  }
  
  .btn-primary{

    margin-top: 20px;
    padding: 8px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: lightblue;
    border-top: 8px solid blue;
    height: 50px;
  
      }

   
   

   


@media only screen and (max-width: 767px) and (orientation: landscape) {

    #title{

        display: none;

    }

}



@media only screen and (min-width: 768px) {

    /* For tablets: */

    #title {

        margin-top: 15%;

    }
}


@media only screen and (min-width: 768px) and (orientation: landscape) {

    /* For tablets in landscape: */

    #title {

        margin-top: 5%;

    }

}
#hoc{
    display: flex;
    flex-wrap: wrap;
}

  

  @media only screen and (min-width: 1025px) {

    /* For desktop: */
